import <std_connector.camkes>;

import "components/Client/Client.camkes";
import "components/Server/Server.camkes";

assembly {
    composition {
        component Client client;
        component Server server;

        connection seL4RPC h1(from client.h2, to server.h3);
        connection seL4RPC h4(from client.h5, to server.h6);
   }
};
